<div class="whole-container">
    <div class="forgot-pwd-container" *ngIf="!isSendOTP && !verifyOTP">
        <h2>Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <button type="submit">Reset Password</button>
            </div>
            <div class="form-group login-link">
                Remember your password? <a [routerLink]="'/auth/sign-in'">Sign In</a>
            </div>
        </form>
    </div>

    <div class="verify-otp-container" *ngIf="(isSendOTP && !verifyOTP)">
        <h2>Verify OTP</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label for="typ">Pin</label>
                <input type="number" id="otp" formControlName="otp" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <button type="submit">Verify</button>
            </div>
        </form>
    </div>

    <div class="create-pwd-container" *ngIf="verifyOTP">
        <h2>Create New Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label for="email">New Password:</label>
                <input title="nPassword" type="password" id="nPassword" formControlName="newPassword">
            </div>
            <div class="form-group">
                <label for="email">Confirm Password:</label>
                <input title="cPassword" type="password" id="cPassword" formControlName="confirmPassword">
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
