.verify-otp-container,.forgot-pwd-container,.create-pwd-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    margin: 20px auto;
}

.container h2 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #2980b9;
}

.form-group .login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.form-group .login-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.form-group .login-link a:hover {
    text-decoration: underline;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: rgb(52, 255, 52);
        // background-color: #fff;
    }
}