<div class="employer-home-container">
    <div class="employer-container">
        <h1>Welcome to Employer Login</h1>
        <p>If you don't have a employer account</p>
        <a mat-stroked-button color="primary"
          [routerLink]="'create-employer'">Create Account</a>
        <p>If you already have a employer account</p>
        <a mat-stroked-button color="primary"
        [routerLink]="'login-employer'">Login</a>
    </div>
    <p class="user-route" >Go to User <a class="go-to-user" color="accent" mat-stroked-button [routerLink]="'/auth'">Login</a></p>
</div>
