.user-details {
  font-family: Arial, sans-serif;
  max-width: 800px; /* Adjust width as needed */
  margin: 10px auto;
  background-color: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details h2 {
  color: #333;
  margin-bottom: 20px;
}

.user-details h3 {
  color: #666;
  margin-bottom: 10px;
}

.user-details p {
  margin: 5px 0;
}

.user-details ul {
  list-style-type: none;
  padding: 0;
}

.user-details li {
  margin: 5px 0;
}

.user-details .section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd; /* Light border between sections */
}

.user-details .section:last-child {
  border-bottom: none;
}

.heading-with-edit-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icon {
  background-color: #ddd; /* Light gray background for the edit icon */
  padding: 5px;
  border-radius: 50%; /* Rounded edit icon */
}

.icon:hover {
  background-color: #ccc; /* Darker gray on hover */
}
h2{
  text-align: center;
}
.no-details-container{
  
  .no-details{
    width: 50%;
    margin: auto;
  }
}