<div class="job-details-conatiner" #detailsContainer *ngIf="!isLoading; else loading">
    <h1>Job Details</h1>
    <div class="job-details" *ngIf="selectedJob; else noSelectedJob">
        <div class="title-row">
            <h2>{{ selectedJob.jobTitle }}</h2>
            <p>{{ selectedJob.company }}</p>
            <p>{{ selectedJob.location }}</p>
        </div>
        <mat-divider></mat-divider> 
        <p>{{ selectedJob.salary }}</p> 
        <p>{{ selectedJob.jobType }}</p>
        <p>{{ selectedJob.shift }}</p>
        <mat-divider></mat-divider>
        <h2>Description:</h2>
        <ul>
            <li *ngFor="let description of selectedJob.description">{{ description }}</li>
        </ul>
        <mat-divider></mat-divider>
        <h2>Qualifications:</h2>
        <ul>
            <li *ngFor="let qualification of selectedJob.qualifications">{{ qualification }}</li>
        </ul>
        <mat-divider></mat-divider>
        <h2>Responsibilities:</h2>
        <ul>
            <li *ngFor="let detail of selectedJob.responsibilities">{{ detail }}</li>
        </ul>
        <mat-divider></mat-divider>
        <div class="job-detail-footer">
            <button mat-stroked-button color="primary" (click)="goToJobApplicationPage(selectedJob.id)">
                Apply Now
            </button>
            <button mat-stroked-button>
                <mat-icon color="warn" mat-icon-button aria-label="Delete">flag</mat-icon>
                report job
            </button>
        </div>
    </div>

    <ng-template #noSelectedJob>
        <div class="no-jobs">
            <p>No Jobs Has been Selected</p>
        </div>
    </ng-template>
</div>
<ng-template #loading>
    <div class="loading-container" >
        <mat-spinner></mat-spinner>
    
    </div>
</ng-template>