<div [formGroup]="additionalInformation" class="form">
    <div class="form-content">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>How did you hear about us?</mat-label>
            <mat-select formControlName="hearAboutUs">
                <mat-option *ngFor="let sm of platforms" [value]="sm.value">
                    {{sm.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="checkbox-wrapper">
            <mat-checkbox formControlName="agreedToTerms" color="primary">
                I agree to the <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>
            </mat-checkbox>
        </div>
    </div>

    <div class="form-button-controls">
        <button type="button" (click)="goToPrev()" mat-stroked-button color="accent">Back</button>
        <button type="submit" mat-flat-button color="primary">Create Account</button>
    </div>
</div>