<div class="container">
    <form class="change-password-form" (ngSubmit)="onSubmit()">
        <h2>Change Password</h2>

        <div>
            <label for="current-password">Current Password:</label>
            <input type="password" id="current-password" name="current-password" required [(ngModel)]="currentPassword">
        </div>

        <div>
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" required [(ngModel)]="newPassword">
        </div>

        <div>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required [(ngModel)]="confirmPassword">
        </div>

        <button type="submit">Change Password</button>
        
        <span *ngIf="error" class="error">{{ error }}</span>
    </form>
</div>
