<div class="job-postings">
  <h1>Job Openings</h1>
  <div class="row" *ngIf="jobPostings.length">
    <div *ngFor="let job of jobPostings" class="job-details">
      <div class="title-row">
        <h2>{{ job.jobTitle }}</h2>
        <div class="actions">
          <button mat-icon-button color="primary" (click)="editJob(job.id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteJob(job.id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="details">
        <p><strong>Company:</strong> {{ job.company }}</p>
        <p><strong>Experience:</strong> {{ job.experience }}</p>
        <p><strong>Salary:</strong> {{ job.salary }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Job Type:</strong> {{ job.jobType }}</p>
        <p><strong>Shift:</strong> {{ job.shift }}</p>
        <p><strong>Description:</strong> {{ job.description }}</p>
        <p><strong>Skills:</strong></p>
        <ul>
          <li *ngFor="let skill of job.skills">{{ skill }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="no-job-openings" *ngIf="jobPostings.length === 0">
    <p>No job openings found.</p>
    <button mat-raised-button color="primary" (click)="routerToCreateJob()">Create Job</button>
  </div>
</div>