// .applied-job-details{

// }
.mat-list{
    // line-height: 0.5px !important;
}
.mat-list-item {
    // padding: 1px;
    // margin-bottom: 1px;
    // line-height: 0.5px;
    // font-size: 10px;
}


h3 {
    padding: 1px;
    margin-bottom: 1px;
}
// .applied-job-details{
    
// }
ul{
  margin: 2px;
  padding: 1px ;  

}
li{
    margin: 1.5px 0px;
    text-decoration: none;
    list-style-type: none;
}

.mat-icons{
    line-height: 1.5;
}
.applied-count{
    margin-bottom: 5px;
}